@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hiscoreBox{
    position: absolute;
    bottom: 200px;
    right: 110px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}

#scoreBox {
    position: absolute;
    bottom: 150px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}

#board{ 
    background: linear-gradient(yellow, red);
    width: 90vmin;
    height: 94vmin;
    border: solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(green, rgb(36, 0, 0));
    border: .25vmin solid black;
    border-radius:12px ;
    transform: scale(1.02);
}

.snake{
    background: linear-gradient(blue, green);
    border: .25vmin solid white;
    border-radius: 14px;
}

.food{
    background:linear-gradient(purple, blue);
    border: .25vmin solid black;
    border-radius: 8px;
}
